.page-rpo .stake-intro{
  max-width:820px;
}

.page-rpo .process-timeline{

    position:relative;

    display:grid;
    grid-template-columns:repeat(5,1fr);

    gap:55px;

}

.page-rpo .engage-v2-content{

    display:grid;

    grid-template-columns:32% 68%;

    gap:45px;

    align-items:flex-start;

}

.page-rpo .engage-v2-table{

    display:grid;

    grid-template-columns:0.85fr 1.15fr;

    border:2px solid #D28A17;

    border-radius:14px;

    overflow:hidden;

}
