.page-rpo .stake-intro{
  max-width:850px;
}

.page-rpo .process-timeline{

    position:relative;

    display:grid;
    grid-template-columns:repeat(5,1fr);

    gap:55px;

}

.page-rpo .engage-v2-content{

    display:grid;

    grid-template-columns:35% 65%;

    gap:50px;

    align-items:flex-start;

  width:1300px

}

.page-rpo .engage-v2-table{

    display:grid;

    grid-template-columns:0.9fr 1.1fr;

    border:2px solid #D28A17;

    border-radius:14px;

    overflow:hidden;

}

.page-rpo .engage-v2-list{

    display:flex;

    flex-direction:column;

    gap:28px;

    padding-top:27px;

}

