.page-rpo .stake-intro{
  max-width:820px;
}

.page-rpo .process-timeline{

    position:relative;

    display:grid;
    grid-template-columns:repeat(5,1fr);

    gap:55px;

}

.page-rpo .engage-v2-content{

    display:grid;

    grid-template-columns:35% 65%;

    gap:50px;

    align-items:flex-start;

}
